{
  "applications": {
      "CoderDojo.Japan": {
	  "applicationId": "GZX10yymwvZ04FPaMcsYI0A5Cq6hjP1wG6EuNQGu",
	  "masterKey": "[NOTE] Please ask this to @yasulab!""
      },
      "_default": {
	  "link": "CoderDojo.Japan"
      }
  },
    "global": {
	"parseVersion": "1.2.19"
    }
}
