<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>CoderDojo Japan</title>

    <meta name="viewport"          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description"       content="CoderDojoは小・中学生のためのプログラミング道場">
    <meta property="og:title"      content="CoderDojo Japan">
    <meta property="og:site_name"  content="CoderDojo Japan">
    <meta property="og:url"        content="http://coderdojo.jp/">
    <meta property="og:image"      content="http://coderdojo.jp/og-image.png">
    <meta property="og:image:type" content="image/png">

    <link href="css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header class="title">
      <i class="cd cd-logo"></i>
      <h1>CoderDojo Japan</h1>
      <p>小・中学生のためのプログラミング道場</p>
    </header>
    <section class="cover">
      <img src="http://coderdojo.jp/img/coderdojo-japan_cover.jpg">
    </section>
    <section>
      <p>CoderDojo は7〜17歳の子どもを対象にしたプログラミング道場です。2011年にアイルランドで始まり、世界では55カ国・675の道場、日本では全国に21の道場があります (2015年7月現在)。</p>
      <p> 各道場では、主に次のような内容を教えています。</p>
      <ul>
        <li>Scratch (ブロックを組合わせて簡単プログラミング)</li>
        <li>HTML / CSS / JavaScript などを活用したWEBサイト作成</li>
        <li>Arduinoなどの電子工作と組合わせたプログラミング、など</li>
      </ul>
      <br />
      <p>道場の様子については、「<a href="http://bakemono.jp/reading/blog/web/2256/">子ども向け無料プログラミング教室、CoderDojoとは？　運営者に話を聞いてみた！</a>」(バケモノ.jp) を読んでみてください。インタビュー形式で話が構成されているので、実際の活動のイメージがつきやすいかなと思います :)</p>
    </section>
    <!--
    <section class="meetup" ng-controller="MeetupController as meetup">
      <h2>近日の道場</h2>
      <ul ng-if="loaded">
        <li class="meetup-item" ng-repeat="event in upcomings">
          <header>
            <a ng-href="http://www.facebook.com/events/{{ event.source }}/">
              <img ng-src="{{ event.cover_source }}">
              <time>{{ event.start_time | date : 'M/d' }}</time>
            </a>
            <ul class="meetup-item-mentors">
              <li ng-repeat="mentor_id in event.mentors"><img ng-src="http://graph.facebook.com/{{ mentor_id }}/picture?type=square"></li>
            </ul>
          </header>
          <h3><a ng-href="http://www.facebook.com/events/{{ event.source }}/">{{ event.name }}</a></h3>
          <ul class="meetup-item-props">
            <li><i class="cd cd-clock"></i>{{ event.start_time | date : 'H:mm' }} - {{ event.end_time | date : 'H:mm' }}</li>
            <li><a ng-href="http://www.facebook.com/{{ event.venue_id }}"><i class="cd cd-pin"></i>{{ event.location }}</a></li>
          </ul>
          <ul class="tags">
            <li ng-repeat="tag in event.tags">{{ tag }}</li>
          </ul>
        </li>
      </ul>
      <div class="spinner" ng-if="!loaded">イベント情報を読み込み中...</div>
    </section>
    -->
    
    <section>
      <h2>道場に参加してみたい!</h2>
      <p>全国の CoderDojo のウェブサイトを下記にまとめてあります。お近くで道場が開催されていたら、そちらのウェブサイトから参加方法を確認してください。</p>
    </section>
    <section class="mentor" ng-controller="MentorController as mctrl">
      <h2>全国の道場</h2>
      <ul ng-if="loaded">
        <li class="mentor-person" ng-repeat="mentor in mentors">
          <header>
            <a ng-href="{{ mentor.url }}"> 
              <span class="mentor-person-picture" ng-style="{'background-image':'url(http://graph.facebook.com/{{ mentor.source }}/picture?type=large)'}"></span>
              <span class="mentor-person-name">{{ mentor.name }}</span>
            </a>
          </header>
          <ul class="tags">
            <li ng-repeat="tag in mentor.tags">{{ tag }}</li>
          </ul>
          <p>{{ mentor.description }}</p>
        </li>
      </ul>
      <div class="spinner" ng-if="!loaded">道場情報を読み込み中...</div>
    </section>
    <section>
      <h2>CoderDojo をもっと知りたい</h2>
      <p>下記ウェブサイトに行くと、より詳細な情報や、最新の情報にアクセスできます。</p>
      <ul>
	<li><a href="https://zen.coderdojo.com/">CoderDojo (英語)</a></li>
	<li><a href="https://www.facebook.com/coderdojo.jp">CoderDojo Japan (Facebook グループ)</a></li>
	<li><a href="http://kata.coderdojo.com/wiki/KataJapan">CoderDojo Kata - KataJapan (日本語Wiki)</a></li>
      </ul>
      <br/>
      <p>本家サイトである CoderDojo (英語) では世界中の活動の様子が見れます。また、CoderDojo Japan (Facebookグループ) では日本全国の活動の様子を知ることができます。</p><p>「これまで成り立ちを知りたい」「地元で CoderDojo を立ち上げてみたい」といった場合には、<a href="http://kata.coderdojo.com/wiki/KataJapan">CoderDojo Kata (日本語Wiki)</a> を参照してみてください。</p>
    </section>
    <footer>
      <h2><a href="https://www.facebook.com/groups/coderdojo.jp/">CoderDojo Japan</a> 運営グループ</h2>
      <p>本WEBサイトのソースコードは <a href="https://github.com/coderdojo-japan/web">GitHub</a> から公開されています :)</p>
    </footer>
    <script src="../public/js/angular.min.js"></script>
    <script src="../public/js/parse.js"></script>
    <script src="../public/js/index.js"></script>
  </body>
</html>
